<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhfc.dao.QhDaliyMapper" >
  <resultMap id="BaseResultMap" type="com.qhfc.entity.QhDaliy" >
    <id column="DALIY_ID" property="daliyId" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="UPLOAD_TIME" property="uploadTime" jdbcType="VARCHAR" />
    <result column="WORK_CONTENT" property="workContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DALIY_ID, USER_NAME, DEPT_NAME, UPLOAD_TIME, WORK_CONTENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qhfc.entity.QhDaliyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from qh_daliy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qh_daliy
    where DALIY_ID = #{daliyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from qh_daliy
    where DALIY_ID = #{daliyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qhfc.entity.QhDaliyExample" >
    delete from qh_daliy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qhfc.entity.QhDaliy" >
    insert into qh_daliy (DALIY_ID, USER_NAME, DEPT_NAME, 
      UPLOAD_TIME, WORK_CONTENT)
    values (#{daliyId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=VARCHAR}, #{workContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qhfc.entity.QhDaliy" >
    insert into qh_daliy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="daliyId != null" >
        DALIY_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME,
      </if>
      <if test="workContent != null" >
        WORK_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="daliyId != null" >
        #{daliyId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="workContent != null" >
        #{workContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qhfc.entity.QhDaliyExample" resultType="java.lang.Integer" >
    select count(*) from qh_daliy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update qh_daliy
    <set >
      <if test="record.daliyId != null" >
        DALIY_ID = #{record.daliyId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadTime != null" >
        UPLOAD_TIME = #{record.uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="record.workContent != null" >
        WORK_CONTENT = #{record.workContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update qh_daliy
    set DALIY_ID = #{record.daliyId,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      UPLOAD_TIME = #{record.uploadTime,jdbcType=VARCHAR},
      WORK_CONTENT = #{record.workContent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhfc.entity.QhDaliy" >
    update qh_daliy
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME = #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="workContent != null" >
        WORK_CONTENT = #{workContent,jdbcType=VARCHAR},
      </if>
    </set>
    where DALIY_ID = #{daliyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhfc.entity.QhDaliy" >
    update qh_daliy
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      UPLOAD_TIME = #{uploadTime,jdbcType=VARCHAR},
      WORK_CONTENT = #{workContent,jdbcType=VARCHAR}
    where DALIY_ID = #{daliyId,jdbcType=VARCHAR}
  </update>
</mapper>